body {
  font-family: 'Oswald', sans-serif;
}

.font_open-sans {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer {
  background-color: #404149;
}

.main-footer__content {
  height: 92px;
  display: flex;
  justify-content: space-between;
}

.main-footer__text {
  margin: auto 0;
  color: #fff;
}

.main-footer__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.main-footer__link:hover {
  border-bottom: 1px solid #fff;
}