body {
  font-family: 'Oswald', sans-serif;
}

.font_open-sans {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button_query {
  width: 175px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.button-query__text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  margin-left: 15px;
}

/* main-header */

.main-header  {
  background-image: url("img/background.png");
  height: 740px;
}

.main-header__top-block {
  display: flex;
  justify-content: space-between;

}

.main-header__logo {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

.main-header__menu {
  background-color: #F7654A;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-header__line {
  background-color: #fff;
  width: 22px;
  height: 4px;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}

.title_one {
  width: 734px;
  height: 190px;
  font-size: 64px;
  font-weight: 500;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  margin: 112px auto 16px auto;
}

.main-header__subtitle {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* main-header */


/* indicators */

.indicators{
  height: 300px;
  margin-top:-150px;
}

.indicators__content {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  background-color: #F7F7F7;
}

.indicators__indicator {
  margin: 55px 35px;

}

.indicators__number {
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;
  color: #F7654A;
}

.indicators__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.indicators__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999999;
}

/* indicators */
 

/* projects */

.projects__content {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-top: 25px;
  margin-bottom: 123px;
  background-color: #fff;
}

.projects__project {
  margin-left: 15px;
  margin-right: 15px;
}

.projects__title_one { 
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 100px;
}

.projects__img {
  width: 350px;
  height: 380px;
}

.projects__line {
  width: 55px;
  height: 6px;
  background-color: #F7654A;
  margin-top: 43px;
}


.projects__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 15px;
}

.projects__subtitle{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-top: 13px;
}
/* projects */


/* request */

.request {
  background-color: #F7654A; 
}

.request__content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 181px;
}

.request__title {
  margin-top: 30px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.request__subtitle {
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.request__button {
  margin-top: 73px;
  margin-bottom: 59px;
}

/* request */

/* services */

.services {
  height: 639px;
}

.services__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
  flex-direction: row;
  margin-left: -30px;
  margin-right: -30px;
}

.services__title-one {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 56px;
  text-align: center;
}

.services__service {
  margin: 15px;
}

.services__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;
  color: #F7654A;
}

.services__subtitle {
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  
}

.services__fon {
  width: 350px;
  height: 250px;
  background-color: #F7F7F7;
  flex-wrap: wrap;
}
/* services */

/* portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
}

.portfolio__wrapper {
  position: relative;
  max-width: 25%;
}

.portfolio__wrapper:hover .portfolio__appearing-block {
  pointer-events: inherit;
  opacity: 1;
}

.portfolio__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__appearing-block {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(247, 101, 74, 0.8);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
  cursor: pointer;
}

.portfolio__appearing-block:hover {
  pointer-events: inherit;
  opacity: 1;
}


/* portfolio */

/* question */


.question__content {
  margin-bottom: 134px;
}


.question__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 151px;
  margin-bottom: 13px;
}


.question__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-top: 23px;
}

summary {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #F7654A;
  margin-top: 33px;
}

.question_item {
   max-width: 730px;
}

/* question */


/* pathers */

.parthers {
  background-color: #404149;
  overflow: hidden;
}


.parthers__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  
}


.parthers__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 55px;
}


.parthers__logo {
  margin-right: 50px;
  margin-bottom: 100px;
}

/* pathers */

/* reviews */
.reviews__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 135px;

}


.reviews__title-one {
  margin-top: 103px;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 66.68px;
}


.reviews__subtitle {
  margin-top: 22.48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}


.reviews__color {
  color: #F7654A;
}


.reviews__item{
  margin-left: 15px;
  margin-right: 15px;
}


.reviews__item-content {
  background-color:  #F7F7F7;
  margin-bottom: 30.4px;
  height: 264.93px;
  width: 350px;
  padding: 80.81px 30px 34.12px 30px;
  box-sizing: border-box;
}


.reviews__author-name {
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 30.4px;
}


/* reviews */

/* contacts */
 

.contacts__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 142.37px;

}


.contacts__title-one {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 63px;
}

.contacts__icon-1 {
  margin-right: auto;
  margin-left: auto;
  width: 36px;
  height: 48.05px;
}


.contacts__icon-2 {
  margin-right: auto;
  margin-left: auto;
  width: 48.02px;
  height: 47.93px;
}


.contacts__icon-3 { 
  margin-right: auto;
  margin-left: auto;
  width: 46.5px;
  height: 46.5px;
}

.contacts__icon-4 {
  margin-right: auto;
  margin-left: auto;
  width: 63px;
  height: 47px;
}
.contacts__item {
 margin-left: 59px;
 margin-right: 59px;
}

.contacts__item-content-1 {
  width: 243px;
  height: 194.63px;
}

.contacts__item-content-2 {
  width: 177px;
  height: 194.63px;
}

.contacts__item-content-3 {
  width: 159px;
  height: 194.63px;
}

.contacts__item-content-4 {
  width: 175px;
  height: 194.63px;

}
.contacts__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #999999;
  margin-top: 19px;
}



.contacts__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 19.78px;
}

.contacts__item-content {
  box-sizing: border-box;
}
/* contacts */

/* main-footer */

.main-footer {
  background-color: #404149;
}

.main-footer__content {
  height: 92px;
  display: flex;
  justify-content: space-between;
}

.main-footer__text {
  margin: auto 0;
  color: #fff;
}

.main-footer__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.main-footer__link:hover {
  border-bottom: 1px solid #fff;
}

/* main-footer */

